* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


header h1 {
    margin-bottom: 10px;
}


header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


header nav ul li {
    margin: 0 20px;
}


header nav ul li a {
    color: #fff;
    text-decoration: none;
}


#hero {
    height: 80vh;
    background-color: black;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTz9wBLDmi-SP_KWFsr-bIwGj_zq79Vf3_byw&s'); */
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


#hero h2 {
    font-size: 3rem;
    z-index: 1;
}


#hero p {
    font-size: 1.5rem;
    z-index: 1;
}


section {
    padding: 20px;
    text-align: center;
}


.modelos-grid, .precos-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.modelos-grid .modelo, .precos-grid .preco-item {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}


.modelos-grid img {
    max-width: 100%;
    border-radius: 10px;
}


footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


/* Responsive Design */
@media (max-width: 768px) {
    .modelos-grid, .precos-grid {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    #hero h2 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 1rem;
    }
}